{% extends "_layout.twig" %}

{% block content %}
<form method="post" action="run_script">
	<textarea name="script"></textarea>
	<br />
	<input type="submit" value="Run">
	
	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">	
</form>
{% endblock %}